@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/*

    font-family: 'Itim', cursive;
*/


body {
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
    color: rgb(54, 60, 65);
}
nav {
    background-color: rgba(224, 252, 252, 0.877);
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 3px 7%;
    border-bottom: 3px whitesmoke solid;
    font-size: 30px;
    align-items: center;
}   #logo {
        font-size: 30px;
    }
    #sections {
        font-size: 22px;
        font-family: 'Itim', cursive;
        align-items: center;
    }
    #section-button{
        cursor: pointer;
        font-size: 22px;
        font-family: 'Itim', cursive;
        background-color: rgb(38, 38, 199);
        border-radius: 8px;
        color: aliceblue;
        border: 0;
        padding: 8px 20px;
    }
    #section-button:hover {
        scale: 1.03;
    }


ul {
    display: flex;
    gap: 30px;
}
li {
    cursor: pointer;
    list-style: none;
}

.principal {
    background-image: url(./image/background.jpg);  
}

.top {
    display: flex;
    padding-top: -30px;
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 10%;
    background-color: rgba(240, 248, 255, 0.904);
}
h1 {
    font-size: 50px;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
figure {
    margin: 0;
}
img {
    margin-top: -30%;
    max-width: 650px;
}

p {
    font-size: 20px;
}

#form, form {
    margin-top: 36%;
    display: flex;
    position: absolute;
    background-color: rgba(255, 254, 247, 0.911);
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 5px 3px 6px 2px;
    font-size: 25px;
    gap: 50px;
}   
#form-submit {
    cursor: pointer;
    padding-top: 0;
    color: beige;
    font-size: 20px;
    font-family: 'Itim', cursive;
    background-color: rgb(38, 38, 199);
    border-radius: 8px;
    color: aliceblue;
    border: 0;
    padding: 0px 20px;
    width: 150px;
    height: 45px;
    align-self: center;
}
    #form-submit:hover {
        scale: 1.03;
    }

input, .input {
    cursor: pointer;
    border: 0px;
    background-color: transparent;
}
    input:hover {
        scale: 1.05;
    }
    .input:hover {
        scale: 1.05;
    }

.fa-shield-heart, .fa-star-half-stroke{
    color: darkgoldenrod;
    text-align: center;
}
.fa-clock,.fa-syringe, .fa-calendar, .fa-location-dot, .fa-viruses, .fa-shield, .fa-ban, .fa-mattress-pillow, .fa-chart-area, .fa-bed, .fa-person-walking,.fa-message, .fa-file-video, .fa-comment, .fa-phone{
    color: rgb(60, 124, 133);
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 5px 5px;
    align-items: center;
    margin: 3px;
    background-color: rgba(255, 255, 209, 0.89);
    border-radius: 3px;
}


.section2 {
    margin-top: 120px;
    background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0.603), rgba(255, 255, 217, 0.945));
}

.grids1 {
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-content: center;
    gap: 70px;
}
.brand {
    width: 210px;
    opacity: 0.4;
}

.text-section2 {
    margin-top: -80px;
    margin-left: 150px;
    width: 450px;
}   .h1-section2, .h1-section3{
    font-size: 40px;
}

.grids2 {
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 250, 0.692), rgba(240, 240, 255, 0.637), white);
}   .benefits {
    padding: 1%;
    box-shadow: 1px 1px 2px;
    border-radius: 3px;
    border: 1px rgba(217, 217, 248, 0.514);
    width: 170px;
}   .benefits > span {
    font-size: 21px;
}   .benefits > p {
    font-size: 16px;
}   
    .benefits:hover {
        transform: scale(1.05);
        box-shadow: 1px 3px 3px 3px;
        background-image: linear-gradient(to right,  rgba(250, 255, 255, 0.692), rgba(242, 255, 254, 0.671), white);
    }


.section3 {
    display: flex;
    background-image: linear-gradient(to bottom, white, rgba(219, 219, 255, 0.493), white);
}
.background3 {
    background-image: url('./image/background2.jpg');
}

.preparations {
    display: flex;
    flex-direction: column;
    padding: 150px 200px 180px 20px;
}

#image-section3 {
    width: 600px;
    margin-top: 55px;
    overflow: hidden;
}
.accordion {
    padding: 50px;
    background-color: rgba(255, 255, 240, 0.438);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #ccc; 
}
.recomendations-acordion {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    border-radius: 4px;
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.section4 {
    background-image: linear-gradient(to bottom, white, rgba(219, 255, 253, 0.493), rgba(219, 255, 253, 0.493), white);
    margin: 0;
}
.text-section4 {
    padding-top: 0;
    width: 500px;
    padding-left: 90px;
    margin-left: 290px;
}

.text-section4 > h2 {
    margin: 0;
    font-size: 40px;
}

.contact {
    display: flex;
}
#contact-img {
    margin-top: -120px;
    width: 600px;
    border-radius: 10px;
}

.grids4 {
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    padding: 40px 50px 40px 120px;
    gap: 30px;
}
.grid4-item {
    text-align: right;
    border: solid 1px rgba(255, 244, 244, 0.541);
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    height: 180px;
}
    .grid4-item:hover {
        box-shadow: 1px 2px 4px 2px;
        scale: 1.02;
    }

.grid4-button {
    cursor: pointer;
    color: beige;
    font-size: 20px;
    font-family: 'Itim', cursive;
    background-color: rgb(38, 38, 199);
    border-radius: 8px;
    color: aliceblue;
    width: 150px;
    align-self: center;
}

footer {
    margin-top: 100px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 80px;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.about {
    display: flex;
    gap: 100px;
}
.pre-footer {
    padding: 0 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.footer-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(22, 22, 80);
}

#title-about {
    font-size:18px;
    margin-bottom: 10px;
    color: rgb(22, 22, 80); 
}


